<h1>Questionnaire creation example</h1>
<p>
    This example shows you how to create questionnaire using Angular framework
</p>
<p>
    We will be using Reactive forms for creation process. <br />
    We will add timers for each question and the overall timer<br />
    For UI Angular Material library is used <br />
    All data will be stored at localStorage so you don't need to recreate
    questions after reloading the page
</p>

<div>
    <a mat-button color="accent" routerLink="questionnaire">Procceed to creation process</a>
</div>
