:host {
    &.left {
        margin-left: auto;
    }

    &.right {
        margin-right: auto;
    }

    &.top {
        margin-top: auto;
    }

    &.bottom {
        margin-bottom: auto;
    }
}
