<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Dynamic components</h1>
    <div style="margin-left: auto"></div>
    <div class="actions">
      <a mat-button>Tabs</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">

  <app-dynamic-form></app-dynamic-form>

  <app-tabs-container [labelTemplate]="labelTemplate">
    <app-tab
      *ngFor="let tab of tabs; let index = index"
      [label]="'Tab #' + (index + 1)"
      [isOpened]="index == 0"
    >
      <p>{{ index + 1 }} tab content</p>
    </app-tab>
  </app-tabs-container>

  <ng-template #labelTemplate let-item="tab" let-onClick="onClick">
    <div class="tab-label" [class.active]="item.isOpened" (click)="onClick(item)">
      Custom {{ item.label }}
    </div>
  </ng-template>

  <button mat-raised-button (click)="tabs.push(1)">Add Tab</button>

  <router-outlet></router-outlet>
</div>
